<ion-header>
    <ion-toolbar>
        <ion-title>Datos Personales</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>


    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

        <app-gps (gpsFinished)="ubicacionCargada($event)"></app-gps>

        <ion-list>

            <ion-item>
                <ion-label position="floating">Cédula</ion-label>
                <ion-input type="text" name="cedula" [(ngModel)]="datos.cedula" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Nombres</ion-label>
                <ion-input type="text" name="nombres" [(ngModel)]="datos.nombres" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Apellidos</ion-label>
                <ion-input type="text" name="apellidos" [(ngModel)]="datos.apellidos" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input type="text" name="direccion" [(ngModel)]="datos.direccion" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Fecha Nacimiento</ion-label>
                <ion-datetime name="fechaNac" [(ngModel)]="datos.fechaNac" required></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Sexo</ion-label>
                <ion-input type="text" name="sexo" [(ngModel)]="datos.sexo" required></ion-input>
            </ion-item>

            <app-image-upload [icon]="'camera'" [type]="'camera'" (uploadFinished)="imagenCargada($event)"></app-image-upload>

            <ion-radio-group name="experiencia" [(ngModel)]="experiencia">
                <ion-list-header>
                    <ion-label>¿Tiene experiencia laboral?</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>Si</ion-label>
                    <ion-radio slot="start" value="si" checked></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="no"></ion-radio>
                </ion-item>
            </ion-radio-group>

        </ion-list>

        <br>

        <ion-button expand="full" type="submit" [disabled]="formulario.invalid">
            Continuar
        </ion-button>



    </form>

</ion-content>