<ion-list>
    <ion-item (click)="acercade()">
        <ion-label>Acerca de</ion-label>
    </ion-item>
    <ion-item (click)="dismissPopover()">
        <ion-label>Cerrar</ion-label>
    </ion-item>
</ion-list>