<ion-header>
    <ion-toolbar>
        <ion-title>registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input></ion-input>
    </ion-item>

</ion-content>