ion-label {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: large;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: medium;
}

img {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}