<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Curriculum</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(curriculum | async) as curriculum">

    <ion-card>
        <img [src]="curriculum.image.url">
        <ion-card-header>
            <ion-card-title>{{curriculum.nombres + ' ' + curriculum.apellidos}}</ion-card-title>
            <ion-card-subtitle>{{curriculum.cedula}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-label>Dirección</ion-label> {{curriculum.direccion}}<br>
            <ion-label>Fecha de Nacimiento</ion-label> {{curriculum.fechaNac}}<br>
            <ion-label>Sexo</ion-label> {{curriculum.sexo}}<br>

            <div *ngIf="curriculum.cargo1">
                <h3>Experiencia</h3>
                <h2>Empleo 1</h2>
                <ion-label>Cargo</ion-label> {{curriculum.cargo1}}<br>
                <ion-label>Función</ion-label> {{curriculum.funcion1}}<br>
                <ion-label>Tiempo</ion-label> {{curriculum.tiempo1}}<br>
                <br>
                <h2>Empleo 2</h2>
                <ion-label>Cargo</ion-label> {{curriculum.cargo2}}<br>
                <ion-label>Función</ion-label> {{curriculum.funcion2}}<br>
                <ion-label>Tiempo</ion-label> {{curriculum.tiempo2}}<br>
            </div>

            <br>
            <ion-label>Proyección</ion-label> {{curriculum.proyeccion}}
            <br>

            <div *ngIf="curriculum.titulo3">
                <h3>Estudios</h3>
                <h2>3er Nivel</h2>
                <ion-label>Título</ion-label> {{curriculum.titulo3}}<br>
                <ion-label>Universidad</ion-label> {{curriculum.universidad3}}<br>
                <ion-label>Año</ion-label> {{curriculum.anio3}}<br>
                <br>
                <h2>4to Nivel</h2>
                <ion-label>Título</ion-label> {{curriculum.titulo4}}<br>
                <ion-label>Universidad</ion-label> {{curriculum.universidad4}}<br>
                <ion-label>Año</ion-label> {{curriculum.anio4}}<br>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>