<ion-header>
    <ion-toolbar>
        <ion-title>Estudios</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplateEst()">

        <ion-list>

            <h2 style="text-align: center;">3er Nivel</h2>
            <ion-item>
                <ion-label position="floating">Título</ion-label>
                <ion-input type="text" name="titulo3" [(ngModel)]="datos.titulo3" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Universidad</ion-label>
                <ion-input type="text" name="universidad3" [(ngModel)]="datos.universidad3" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Año</ion-label>
                <ion-input type="text" name="anio3" [(ngModel)]="datos.anio3" required></ion-input>
            </ion-item>

            <h2 style="text-align: center;">4to Nivel</h2>
            <ion-item>
                <ion-label position="floating">Título</ion-label>
                <ion-input type="text" name="titulo4" [(ngModel)]="datos.titulo4" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Universidad</ion-label>
                <ion-input type="text" name="universidad4" [(ngModel)]="datos.universidad4" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Año</ion-label>
                <ion-input type="text" name="anio4" [(ngModel)]="datos.anio4" required></ion-input>
            </ion-item>

        </ion-list>

        <br>

        <ion-button expand="full" type="submit" [disabled]="formulario.invalid">
            Continuar
        </ion-button>



    </form>

</ion-content>