<ion-header>
    <ion-toolbar>
        <ion-title>Experiencia Laboral</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

        <ion-list>

            <h2 style="text-align: center;">Empleo 1</h2>
            <ion-item>
                <ion-label position="floating">Cargo</ion-label>
                <ion-input type="text" name="cargo1" [(ngModel)]="datos.cargo1" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Función</ion-label>
                <ion-input type="text" name="funcion1" [(ngModel)]="datos.funcion1" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Tiempo</ion-label>
                <ion-input type="text" name="tiempo1" [(ngModel)]="datos.tiempo1" required></ion-input>
            </ion-item>

            <h2 style="text-align: center;">Empleo 2</h2>
            <ion-item>
                <ion-label position="floating">Cargo</ion-label>
                <ion-input type="text" name="cargo2" [(ngModel)]="datos.cargo2" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Función</ion-label>
                <ion-input type="text" name="funcion2" [(ngModel)]="datos.funcion2" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Tiempo</ion-label>
                <ion-input type="text" name="tiempo2" [(ngModel)]="datos.tiempo2" required></ion-input>
            </ion-item>

        </ion-list>

        <br>

        <ion-button expand="full" type="submit" [disabled]="formulario.invalid">
            Continuar
        </ion-button>



    </form>

</ion-content>