<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button (click)="loginGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
    </ion-button>

</ion-content>