<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Curriculums</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-list>
        <ion-list-header>
            Empleos
        </ion-list-header>

        <ion-item *ngFor="let curriculum of curriculums | async; trackBy: trackByFn">
            <ion-avatar slot="start">
                <img [src]='curriculum.image.url'>
            </ion-avatar>
            <ion-label (click)="showCurriculum(curriculum.uid)">
                <h2>{{curriculum.nombres + ' ' + curriculum.apellidos}}</h2>
                <h3>{{curriculum.fechaNac}}</h3>
                <p>{{curriculum.titulo3}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>