<ion-header>
    <ion-toolbar>
        <ion-title>Curriculum</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h3 style="text-align: center;">Datos Personales</h3>

    <ion-card>
        <img [src]="datos.image.url" />
    </ion-card>

    <ion-item>
        <ion-label>Cédula</ion-label>
        <ion-input style="font-weight: bold;" type="text" name="cedula" [(ngModel)]="datos.cedula"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Nombres</ion-label>
        <ion-input type="text" name="nombres" [(ngModel)]="datos.nombres" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input type="text" name="apellidos" [(ngModel)]="datos.apellidos" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-input type="text" name="direccion" [(ngModel)]="datos.direccion" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-input type="text" name="fechaNac" [(ngModel)]="datos.fechaNac" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-input type="text" name="sexo" [(ngModel)]="datos.sexo" style="font-weight: bold;"></ion-input>
    </ion-item>



    <h3 style="text-align: center;" *ngIf="datos.cargo1">Experiencia</h3>
    <h4 style="margin-left: 15px;" *ngIf="datos.cargo1">Empleo 1</h4>
    <ion-item *ngIf="datos.cargo1">
        <ion-label>Cargo</ion-label>
        <ion-input style="font-weight: bold;" type="text" name="cargo1" [(ngModel)]="datos.cargo1"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.cargo1">
        <ion-label>Función</ion-label>
        <ion-input type="text" name="funcion1" [(ngModel)]="datos.funcion1" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.cargo1">
        <ion-label>Tiempo</ion-label>
        <ion-input type="text" name="tiempo1" [(ngModel)]="datos.tiempo1" style="font-weight: bold;"></ion-input>
    </ion-item>

    <h4 style="margin-left: 15px;" *ngIf="datos.cargo2">Empleo 2</h4>
    <ion-item *ngIf="datos.cargo2">
        <ion-label>Cargo</ion-label>
        <ion-input style="font-weight: bold;" type="text" name="cargo2" [(ngModel)]="datos.cargo2"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.cargo2">
        <ion-label>Función</ion-label>
        <ion-input type="text" name="funcion2" [(ngModel)]="datos.funcion2" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.cargo2">
        <ion-label>Tiempo</ion-label>
        <ion-input type="text" name="tiempo2" [(ngModel)]="datos.tiempo2" style="font-weight: bold;"></ion-input>
    </ion-item>

    <h3 style="text-align: center;" *ngIf="datos.proyeccion">Proyección Profesional</h3>
    <ion-item *ngIf="datos.proyeccion">
        <ion-textarea type="text" name="proyeccion" [(ngModel)]="datos.proyeccion" rows="10"></ion-textarea>
    </ion-item>

    <h3 style="text-align: center;" *ngIf="datos.titulo3">Estudios</h3>
    <h4 style="margin-left: 15px;" *ngIf="datos.titulo3">3er Nivel</h4>
    <ion-item *ngIf="datos.titulo3">
        <ion-label>Título</ion-label>
        <ion-input style="font-weight: bold;" type="text" name="titulo3" [(ngModel)]="datos.titulo3"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.universidad3">
        <ion-label>Universidad</ion-label>
        <ion-input type="text" name="universidad3" [(ngModel)]="datos.universidad3" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.anio3">
        <ion-label>Año</ion-label>
        <ion-input type="text" name="anio3" [(ngModel)]="datos.anio3" style="font-weight: bold;"></ion-input>
    </ion-item>

    <h4 style="margin-left: 15px;" *ngIf="datos.titulo3">4to Nivel</h4>
    <ion-item *ngIf="datos.titulo4">
        <ion-label>Título</ion-label>
        <ion-input style="font-weight: bold;" type="text" name="titulo4" [(ngModel)]="datos.titulo4"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.universidad4">
        <ion-label>Universidad</ion-label>
        <ion-input type="text" name="universidad4" [(ngModel)]="datos.universidad4" style="font-weight: bold;"></ion-input>
    </ion-item>

    <ion-item *ngIf="datos.anio4">
        <ion-label>Año</ion-label>
        <ion-input type="text" name="anio4" [(ngModel)]="datos.anio4" style="font-weight: bold;"></ion-input>
    </ion-item>

    <br>
    <ion-button (click)="goHome()" expand="full">
        Finalizar
    </ion-button>
</ion-content>