<ion-header>
    <ion-toolbar>
        <ion-title>Acerca de</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="img-padding">
        <ion-img src="assets/img/info.png"></ion-img>
    </div>
    <div class="texto">
        <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reiciendis aperiam quos dolorem sunt distinctio, laboriosam fugit nesciunt voluptatum enim eveniet quod omnis itaque velit laudantium placeat. Sint, doloribus voluptatem.
        </h3>
    </div>

    <ion-button (click)="info()">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        Cómo hacer un curriculum?
    </ion-button>


</ion-content>