<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Proyección Profesional</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

        <ion-item style="border: 3px solid #e95b1d; margin: 15px 10px;">
            <ion-textarea type="text" name="proyeccion" [(ngModel)]="datos.proyeccion" required placeholder="Escriba sus aspiraciones aqui..." rows="20"></ion-textarea>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="formulario.invalid">
            Continuar
        </ion-button>

    </form>

</ion-content>