<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menú Principal</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>

            <ion-menu-toggle>

                <ion-item routerLink="/lista-curriculums">
                    <ion-icon slot="start" name="beer-outline"></ion-icon>
                    <ion-label>Lista de Curriculums</ion-label>
                </ion-item>
                <ion-item routerLink="/about-us">
                    <ion-icon slot="start" name="beer-outline"></ion-icon>
                    <ion-label>Acerca de</ion-label>
                </ion-item>
                <ion-item (click)="logout()">
                    <ion-icon slot="start" name="close-outline"></ion-icon>
                    <ion-label>Cerrar Sesion</ion-label>
                </ion-item>

            </ion-menu-toggle>


        </ion-list>
    </ion-content>
</ion-menu>