ion-slide {
    display: block;
}

img {
    max-height: 400px;
}

.slide-img-padding {
    padding: 40px;
}

h3 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 60px;
}

.btn-primary {
    height: 60px;
}

ion-slides {
    --bullet-background: gray;
    --bullet-background-active: #ed6921;
}

@media screen and (max-height: 775px) {
    img {
        width: 70%;
    }
}