<ion-header translucent>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button color="primary" menu="first">
            </ion-menu-button>
        </ion-buttons>

        <ion-title>Curriculum</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="presentPopover( $event )">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

    <ion-slides pager=true>
        <ion-slide *ngFor="let slide of slides">
            <div class="slide-img-padding">
                <img [src]="slide.img">
            </div>
            <div>
                <h3 [innerHTML]="slide.titulo"></h3>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>

<ion-footer no-border>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="10" offset="1">
                <ion-button color="primary" expand="full" shape="round" mode="ios" class="btn-primary" routerLink="/datos-personales">
                    COMENZAR
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>